@font-face {
  font-family: "LVS";
  src: url("/lvs.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
}

.font-lvs {
  font-family: "LVS", sans-serif;
}

@font-face {
  font-family: "RWD";
  src: url("/rwd.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-size: 100px;
}

.font-rwd {
  font-family: "RWD", sans-serif;
}
